.player-detail{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
.player-desc{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    line-height: 4px;
    background-color: #1d1283;
    margin-bottom: 10px; 
    padding: 25px 40px;
    margin-right:30px;
    color:white;
}

.player{
    color:#df03df;
    font-weight: 600;
    font-size: 20px;
}
.player-image{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid #0d28a0; 
}
