.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 5px;
    color:white;
}

.profile-img{
    height: 120px;
    width: 200px;
    margin-bottom: 10px;
}
.player-description{
    background-color: rgb(10, 119, 0);

}
.desc{
    line-height: 5px;
}
.btn-handle{
    margin:5px
}
button{
    background-color:#013f91;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    color:white;
}
button:hover{
    background-color:orangered;
    /* color:black; */
}