.player-list{
    /* margin-top: 150px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player-list img{
    /* height: 200px; */
    /* width: 400px; */
}
.profile-img{
    height: 120px;
    /* width: 4px; */
}
.player-description{
    padding: 5px;
}
button{
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color:orangered;
    color:black;
}