.player-cart{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
}
.player-added{
    text-align: center;
    color:white;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px 0;
    background-color: green;
    text-transform: uppercase;
}
.total-price{
    font-weight: 700;
    background-color: green;
    color:#f5f4f4;
    padding: 4px 50px;
}

.cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
}