header{
  display:flex;
  background-color: black;
  color:white;
  justify-content: space-between;
 
  align-items: center;
}

.heading h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  padding:1px 60px;
  cursor: pointer;
}
nav{
  padding-right: 60px;
}
nav a{
  text-decoration: none;
  font-size: 1.5rem;
  color:white;
  padding: 0 15px;
  /* padding-right:60px; */
}
nav a:hover{
  color: green;
}
footer{
  background-color: black;
  height: 100px;
  text-align: center;
}
footer p{
  text-decoration: none;
  color:white;
  padding:20px;
  /* text-align: center; */
  /* align-items: center; */
  font-size: 20px;
}
footer a{
  color:red;
}